{% load staticfiles %}
<li id="doorPanel" class="active panel panel-info" style="border-color: #ffbb4b;">
    <div class="panel-heading" style="color: #b36f00;background-color: #ffe2b3;border-color: #ffbb4b;">
      <span>Nimblet 1</span>
      <button id="doorBtn" class="btn btn-default btn-xs" style="float:right;">Run</button>
    </div>
    <div class="panel-body row">
      <div class="col-md-3">
        <div class="text-center highcharts-title" style="margin-bottom:10px;color:#333333;font-size:18px;fill:#333333;font-family:Lucida Grande, Lucida Sans Unicode, Arial, Helvetica, sans-serif">Live Status</div>
        <img id="door_closed" class="featurette-image img-responsive center-block" src="{% static "img/DOOR_CLOSED.png" %}">
        <img id="door_open" class="featurette-image img-responsive center-block" src="{% static "img/DOOR_OPEN.png" %}">
      </div>
      <div class="col-md-9" id="doorGraph" style="min-width: 310px; height: 300px; margin: 0 auto"></div>
    </div>
  </li>
<script>
    $("#door_open").hide();
    $("#door_closed").show();
    var doorData = [];
    $.ajax({
        url: {% url "getData" %},
        data: {"id": {{ app.data }},},
        dataType: "json",
        success: function(response){
            doorData = response;
            if (response[response.length-1].status){
                $("#door_open").show();
                $("#door_closed").hide();
            } else {
                $("#door_open").hide();
                $("#door_closed").show();
            }
            // use response.body to get the data
            // use the data to populate the toothbrush function
        }
    });
</script>