{% load staticfiles %}
<li id="medicinePanel" class="inactive panel panel-info" style="border-color: #ff2323;">
    <div class="panel-heading" style="color: #b30000;background-color: #ffb3b3;border-color: #ff2323;">
      <span>Nimblet 3</span>
      <button id="medicineBtn" class="btn btn-default btn-xs" style="float:right;">Run</button>
    </div>
    <div class="panel-body">
      <div class="col-md-3">
        <div class="text-center highcharts-title" style="margin-bottom:10px;color:#333333;font-size:18px;fill:#333333;font-family:Lucida Grande, Lucida Sans Unicode, Arial, Helvetica, sans-serif">Live Status</div>
        <img id="med-good" class="featurette-image img-responsive center-block" src="{% static "img/MED_OK.png" %}">
        <img id="med-bad" class="featurette-image img-responsive center-block" src="{% static "img/MED_BAD.png" %}">
      </div>
      <div class="col-md-9" id="medicineNimblet" style="min-width: 310px; height: 300px; margin: 0 auto"></div>
    </div>
  </li>
<script>
    var tempData = [];
    $("#med-bad").hide();
    $.ajax({
        url: {% url "getData" %},
        data: {"id": {{ app.data }},},
        dataType: "json",
        success: function(response){
            tempData = response;
            if (response[response.length-1].alert){
                $("#med-bad").show();
                $("#med-good").hide();
            } else {
                $("#med-bad").hide();
                $("#med-good").show();
            }
            // use response.body to get the data
            // use the data to populate the toothbrush function
        }
    });
</script>