{% load staticfiles %}
<li id="toothbrushPanel" class="inactive panel panel-info">
    <div class="panel-heading">
      <span>Nimblet 2</span>
      <button id="toothbrushBtn" class="btn btn-default btn-xs" style="float:right;">Run</button>
    </div>
    <div class="panel-body">
      <div class="col-md-3">
        <div class="text-center highcharts-title" style="margin-bottom:10px;color:#333333;font-size:18px;fill:#333333;font-family:Lucida Grande, Lucida Sans Unicode, Arial, Helvetica, sans-serif">Live Status</div>
        <img class="featurette-image img-responsive center-block" src="{% static "img/TOOTH_BRUSH.png" %}">
      </div>
      <div class="col-md-9" id="toothbrushGraph" style="min-width: 310px; height: 300px; margin: 0 auto"></div>
    </div>
  </li>
<script>var toothData = [];</script>
{% for item in app.data %}
    <script>
        $.ajax({
            url: {% url "getData" %},
            data: {"id": {{ item }},},
            dataType: "json",
            success: function(response){
                toothData.push(response);
                // use response.body to get the data
                // use the data to populate the toothbrush function
            }
        });
    </script>
{% endfor %}