{% extends "base.html" %}
{% load staticfiles %}
{% block title %}Get Nimble{% endblock title %}

{% block content %}
<link href="{% static "starter-template.css" %}" rel="stylesheet">
<style type="text/css">
/* show the move cursor as the user moves the mouse over the panel header.*/
#draggablePanelList .panel-heading {
    cursor: move;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Raleway', sans-serif;
}
p, div {
    color: white;
    font-family: 'Raleway', sans-serif;
}

.col-lg-1, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-md-1, .col-md-10, .col-md-11, .col-md-12, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-sm-1, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-xs-1, .col-xs-10, .col-xs-11, .col-xs-12, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9 {
    position: relative;
    min-height: 1px;
    padding-right: 25px;
    padding-left: 25px;
}

.padright {
  padding-right:55px
}
</style><br /><br />
    <div class="container">

      <div class="starter-template">
        <h1 style="color:white">App Store</h1>
      </div>
      <div class="row">
        <div class="col-md-3">
          <img style="width:100%" src="{% static "img/app_icons/door_app.png" %}">
          <div class="padright">
            <div class="row">
              <div class="col-md-9">
                <h3>GateKeeper</h3>
              </div>
              <div class="col-md-3">
                <h3>Free</h3>
              </div>
            </div>
            <div class="row">
              <div class="col-md-9">
                <p>Live door status and history tracker</p>
              </div>
              <div class="col-md-3">
                <button class="btn btn-danger btn-default">GET</button>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-3">
          <img style="width:100%" src="{% static "img/app_icons/toothbrush_app.png" %}">
          <div class="padright">
            <div class="row">
              <div class="col-md-9">
                <h3>Brush It</h3>
              </div>
              <div class="col-md-3">
                <h3>Free</h3>
              </div>
            </div>
            <div class="row">
              <div class="col-md-9">
                <p>Monitor thoothbrush sessions!</p>
              </div>
              <div class="col-md-3">
                <button class="btn btn-danger btn-default">GET</button>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-3">
          <img style="width:100%" src="{% static "img/app_icons/med_app.png" %}">
          <div class="padright">
            <div class="row">
              <div class="col-md-9">
                <h3>FreshMeds</h3>
              </div>
              <div class="col-md-3">
                <h3>Free</h3>
              </div>
            </div>
            <div class="row">
              <div class="col-md-9">
                <p>Did you meds go bad?</p>
              </div>
              <div class="col-md-3">
                <button class="btn btn-danger btn-default">GET</button>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-3">
          <img style="width:100%" src="{% static "img/app_icons/bike_app.png" %}">
          <div class="padright">
            <div class="row">
              <div class="col-md-9">
                <h3>FitBike</h3>
              </div>
              <div class="col-md-3">
                <h3>$0.99</h3>
              </div>
            </div>
            <div class="row">
              <div class="col-md-9">
                <p>Track speed and distance for cyclists.</p>
              </div>
              <div class="col-md-3">
                <button class="btn btn-danger btn-default">BUY</button>
              </div>
            </div>
          </div>
        </div>
      </div>
      <br>
      <div class="row">
        <div class="col-md-3">
          <img style="width:100%" src="{% static "img/app_icons/fridge_app.png" %}">
          <div class="padright">
            <div class="row">
              <div class="col-md-9">
                <h3>SmartFridge</h3>
              </div>
              <div class="col-md-3">
                <h3>$0.99</h3>
              </div>
            </div>
            <div class="row">
              <div class="col-md-9">
                <p>Know when your food goes bad.</p>
              </div>
              <div class="col-md-3">
                <button class="btn btn-danger btn-default">BUY</button>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-3">
          <img style="width:100%" src="{% static "img/app_icons/waterleak_app.png" %}">
          <div class="padright">
            <div class="row">
              <div class="col-md-9">
                <h3>WaterLeak</h3>
              </div>
              <div class="col-md-3">
                <h3>$0.99</h3>
              </div>
            </div>
            <div class="row">
              <div class="col-md-9">
                <p>Detect water leaks.</p>
              </div>
              <div class="col-md-3">
                <button class="btn btn-danger btn-default">BUY</button>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-3">
          <img style="width:100%" src="{% static "img/Humidor.png" %}">
          <div class="padright">
            <div class="row">
              <div class="col-md-9">
                <h3>Humidor</h3>
              </div>
              <div class="col-md-3">
                <h3>$0.99</h3>
              </div>
            </div>
            <div class="row">
              <div class="col-md-9">
                <p>Keep your cigars in optimal storage. </p>
              </div>
              <div class="col-md-3">
                <button class="btn btn-danger btn-default">BUY</button>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-3">
          <img style="width:100%" src="{% static "img/app_icons/infinity_app.png" %}">
        </div>
      </div>
      <br>
    </div>




{% endblock content %}
{% block end_js %}
<script>
    var panelList = $('#draggablePanelList');

    panelList.sortable({
        // Only make the .panel-heading child elements support dragging.
        // Omit this to make then entire <li>...</li> draggable.
        handle: '.panel-heading',
        update: function() {
            $('.panel', panelList).each(function(index, elem) {
                 var $listItem = $(elem),
                     newIndex = $listItem.index();

                 // Persist the new indices.
            });
        }
    });


    // Door Status Chart
    var yourLabels = ["Closed", "Open"];

    $(function () {
      $('#doorGraph').highcharts({
        chart: {
            type: 'spline'
        },
        title: {
            text: 'Door Status'
        },
        subtitle: {
            text: 'Nimble'
        },
        xAxis: {
            type: 'datetime',
            dateTimeLabelFormats: { // don't display the dummy year
                month: '%e. %b',
                year: '%b'
            },
            title: {
                text: 'Date'
            }
        },
        yAxis: {
            title: {
                text: 'Snow depth (m)'
            },
            min: 0,
            labels: {

              formatter: function() {
                  return yourLabels[this.value];
                }
            }
        },
        tooltip: {
            headerFormat: '<b>{series.name}</b><br>',
            pointFormat: '{point.x:%e. %b}'
        },

        plotOptions: {
            spline: {
                marker: {
                    enabled: true
                }
            }
        },

        series: [{
            name: 'Door Status',
            // Define the data points. All series have a dummy year
            // of 1970/71 in order to be compared on the same x axis. Note
            // that in JavaScript, months start at 0 for January, 1 for February etc.
            data: [
                [Date.UTC(1970, 9, 21), 0],
                [Date.UTC(1970, 10, 4), 1],
                [Date.UTC(1970, 10, 9), 1],
                [Date.UTC(1970, 10, 27), 0],
                [Date.UTC(1970, 11, 2), 0],
                [Date.UTC(1970, 11, 26), 1],
                [Date.UTC(1970, 11, 29), 1],
                [Date.UTC(1971, 0, 11), 1],
                [Date.UTC(1971, 0, 26), 0],
                [Date.UTC(1971, 1, 3), 0],
                [Date.UTC(1971, 1, 11), 0],
                [Date.UTC(1971, 1, 25), 1],
                [Date.UTC(1971, 2, 11), 1],
                [Date.UTC(1971, 3, 11), 1],
                [Date.UTC(1971, 4, 1), 0],
                [Date.UTC(1971, 4, 5), 0],
                [Date.UTC(1971, 4, 19), 0],
                [Date.UTC(1971, 5, 3), 0]
            ],
            color: '#FFBB4B'
        }]
      });
    });


    // Toothbrush Tracker
    $('#toothbrushGraph').highcharts({
        chart: {
            type: 'column'
        },
        title: {
            text: 'Brush Time!'
        },
        subtitle: {
            text: 'Nimble'
        },
        xAxis: {
            type: 'category',
            labels: {
                rotation: -45,
                style: {
                    fontSize: '13px',
                    fontFamily: 'Verdana, sans-serif'
                }
            }
        },
        yAxis: {
            min: 0,
            title: {
                text: 'Population (millions)'
            }
        },
        legend: {
            enabled: false
        },
        tooltip: {
            pointFormat: 'Brushtime: <b>{point.y:.1f} seconds</b>'
        },
        series: [{
            name: 'BrushTimes',
            data: [
                ['Monday 6:02am', 73.7],
                ['Monday 10:03pm', 56.1],
                ['Tuesday 7:14am', 84.2],
                ['Tuesday 8:15pm', 74.0],
                ['Wednesday 7:01am', 82.5],
            ],
            dataLabels: {
                enabled: true,
                rotation: -90,
                color: '#FFFFFF',
                align: 'right',
                format: '{point.y:.1f}', // one decimal
                y: 10, // 10 pixels down from the top
                style: {
                    fontSize: '13px',
                    fontFamily: 'Verdana, sans-serif'
                }
            }
        }]
    });

    // Medicine Nimblet
    $(function () {
      $('#medicineNimblet').highcharts({
        chart: {
            type: 'area'
        },
        title: {
            text: 'Medicine Temperature Alerts'
        },
        subtitle: {
            text: 'Nimble'
        },
        xAxis: {
            allowDecimals: false,
            labels: {
                formatter: function () {
                    return this.value; // clean, unformatted number for year
                }
            }
        },
        yAxis: {
            title: {
                text: ''
            }
        },
        tooltip: {
            pointFormat: 'Your medicine alerts: <b>{point.y:,.0f}</b>'
        },
        plotOptions: {
            area: {

                marker: {
                    enabled: false,
                    symbol: 'circle',
                    radius: 2,
                    states: {
                        hover: {
                            enabled: true
                        }
                    }
                }
            }
        },
        series: [{
            name: 'Medicine Alerts',
            data: [0,0,1,1,0,0,0,0,0,0,0,1,1,1,0,0,1,1,0,0,0,0,0,0],
            color: '#FF2323'
        }]
      });
    });

    // Poop Nimblet
    $(function () {
        $('#poopNimblet').highcharts({
            chart: {
                type: 'area'
            },
            title: {
                text: 'Baby Poop Detector'
            },
            subtitle: {
                text: 'Nimble'
            },
            xAxis: {
                allowDecimals: false,
                labels: {
                    formatter: function () {
                        return this.value; // clean, unformatted number for year
                    }
                }
            },
            yAxis: {
                title: {
                    text: ''
                }
            },
            tooltip: {
                pointFormat: 'Your baby pooped: <b>{point.y:,.0f}</b>'
            },
            plotOptions: {
                area: {

                    marker: {
                        enabled: false,
                        symbol: 'circle',
                        radius: 2,
                        states: {
                            hover: {
                                enabled: true
                            }
                        }
                    }
                }
            },
            series: [{
                name: 'Poop State',
                data: [0,0,1,1,0,0,0,1,1,0,0,1,1,1,0,0,1,1,0,0,0,0,1,1],
                color: '#9C7328'
            }]
        });
    });



    // Button Event Handlers
    $("#doorBtn").click(function(){
      console.log("Run Door");

      // Disable active panel and enable this panel
      $(".active").addClass('inactive');
      $(".active").removeClass('active');
      $("#doorPanel").addClass('active');

      // Notify Server which app got activated
      $.get("http://ec2-52-91-163-253.compute-1.amazonaws.com/sensorendpoint/test", function(data, status){
        console.log("Data: " + data + "\nStatus: " + status);
      })
    });

    $("#toothbrushBtn").click(function(){
      console.log("Run ToothBrush");

      // Disable active panel and enable this panel
      $(".active").addClass('inactive');
      $(".active").removeClass('active');
      $("#toothbrushPanel").addClass('active');
    });

    $("#medicineBtn").click(function(){
      console.log("Run Medicine");

      // Disable active panel and enable this panel
      $(".active").addClass('inactive');
      $(".active").removeClass('active');
      $("#medicinePanel").addClass('active');
    });

    $("#poopBtn").click(function(){
      console.log("Run Poop`");

      // Disable active panel and enable this panel
      $(".active").addClass('inactive');
      $(".active").removeClass('active');
      $("#poopPanel").addClass('active');
    });

    function disablePanel(panel){

    }

    //Panel mouse over event handler
    $(".panel").mouseover(function(){
        if ($(this).hasClass('inactive')) {
            $(this).removeClass('inactive');
        }
    });
    $(".panel").mouseleave(function(){
        if (!$(this).hasClass('active')) {
            $(this).addClass('inactive');
        }
    });

  </script>
{% endblock end_js %}