<html>
{% load staticfiles %}
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>{% block title %}Get Nimble!{% endblock title %}</title>

    <link href="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.11.4/jquery-ui.css" rel="stylesheet">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" integrity="sha512-dTfge/zgoMYpP7QbHy4gWMEGsbsdZeCXz7irItjcC3sPUFtf0kuFbDz/ixG7ArTxmDjLXDmezHubeNikyKGVyQ==" crossorigin="anonymous">

    <link href='https://fonts.googleapis.com/css?family=Raleway:400,100,700' rel='stylesheet' type='text/css'>

    <script src="//code.jquery.com/jquery-1.11.3.min.js"></script>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <script src="https://code.highcharts.com/highcharts.js"></script>
    <script src="https://code.highcharts.com/modules/exporting.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js" integrity="sha512-K1qjQ+NcF2TYO/eI3M6v8EiNYZfA95pQumfvcVrTHtwQVDG+aHRqLi/ETn2uB+1JqwYqVG3LIvdm9lj6imS/pQ==" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.11.4/jquery-ui.js"></script>
    <script src="{% static "holder.min.js" %}"></script>
</head>

<body>
    <div class="navbar-wrapper">
      <div class="container">
        <nav class="navbar navbar-inverse navbar-static-top">
          <div class="container">
            <div class="navbar-header">
              <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
              </button>
              <a class="navbar-brand" href="index.html"><img class="logo" style="height:75px;" src="{% static "img/NIMBLE_LOGO_White.png" %}"></a>
            </div>
            <div id="navbar" class="navbar-collapse collapse" style="float:right">
              <ul class="nav navbar-nav">
                <li class="active"><a href="{% url "landingPage" %}">Home</a></li>
                <li><a href="{% url "home" %}">My Apps</a></li>
                <li><a href="{% url "appStore" %}">Store</a></li>
              </ul>
            </div>
          </div>
        </nav>
      </div>
    </div>
{% block content %}{% endblock content %}
<footer>
        <p class="pull-right"><a href="#">Back to top</a></p>
        <p>&copy; 2015 Nimble &middot; <a href="#">Privacy</a> &middot; <a href="#">Terms</a></p>
      </footer>


<!-- Javascript down here -->

{% block end_js %}{% endblock end_js %}

</body>

</html>