{% extends "base.html" %}
{% load staticfiles %}
{% block content %}
<link href="{% static "starter-template.css" %}" rel="stylesheet">
<br /><br />
<div class="container">

  <div class="starter-template">
    <h1>My Apps</h1>
  </div>
  <div>

    <ul id="draggablePanelList" class="list-unstyled">
      {% for app in apps %}
        {% include app.template %}
      {% endfor %}

      <li id="toothbrushPanel" class="inactive panel panel-info">
        <div class="panel-heading">
          <span>Nimblet 2</span>
          <button id="toothbrushBtn" class="btn btn-default btn-xs" style="float:right;">Run</button>
        </div>
        <div class="panel-body">
          <div class="col-md-3">
            <div class="text-center highcharts-title" style="margin-bottom:10px;color:#333333;font-size:18px;fill:#333333;font-family:Lucida Grande, Lucida Sans Unicode, Arial, Helvetica, sans-serif">Live Status</div>
            <img class="featurette-image img-responsive center-block" src="{% static "img/TOOTH_BRUSH.png" %}">
          </div>
          <div class="col-md-9" id="toothbrushGraph" style="min-width: 310px; height: 300px; margin: 0 auto"></div>
        </div>
      </li>

      <li id="poopPanel" class="inactive panel panel-info" style="border-color: #654b1a;">
        <div class="panel-heading" style="color: #9c7328;background-color: #d5ab5d;border-color: #654b1a;">
          <span>Nimblet 4</span>
          <button id="poopBtn" class="btn btn-default btn-xs" style="float:right;">Run</button>
        </div>
        <div class="panel-body">
          <div class="col-md-3">
            <div class="text-center highcharts-title" style="margin-bottom:10px;color:#333333;font-size:18px;fill:#333333;font-family:Lucida Grande, Lucida Sans Unicode, Arial, Helvetica, sans-serif">Live Status</div>
            <img class="featurette-image img-responsive center-block" src="{% static "img/app_icons/fridge_app.png" %}">
          </div>
          <div class="col-md-9" id="poopNimblet" style="min-width: 310px; height: 300px; margin: 0 auto"></div>
        </div>
      </li>
    </ul>
    <a href="{% url "appStore" %}"><button class="btn btn-default" style="width:100%; height:100px; border-style:dashed">
      <span class="glyphicon glyphicon-plus" style="color:grey" aria-hidden="true"></span>
    </button></a>

  </div>
  <br>
</div>
{% endblock content %}

{% block end_js %}
  <script>
    var current = "{{ current }}";
    var currentID = "{{ currentID }}";
    var panelList = $('#draggablePanelList');

    panelList.sortable({
        // Only make the .panel-heading child elements support dragging.
        // Omit this to make then entire <li>...</li> draggable.
        handle: '.panel-heading',
        update: function() {
            $('.panel', panelList).each(function(index, elem) {
                 var $listItem = $(elem),
                     newIndex = $listItem.index();

                 // Persist the new indices.
            });
        }
    });

    var doorChart = function(){setTimeout(function(){
        // Door Status Chart
        var yourLabels = ["Closed", "Open"];

        $(function () {
            $('#doorGraph').highcharts({
                chart: {
                    type: 'spline'
                },
                title: {
                    text: 'Door Status'
                },
                subtitle: {
                    text: 'Nimble'
                },
                xAxis: {
                    type: 'datetime',
                    dateTimeLabelFormats: { // don't display the dummy year
                        month: '%e. %b',
                        year: '%b'
                    },
                    title: {
                        text: 'Date'
                    }
                },
                yAxis: {
                    title: {
                        text: 'Door Status'
                    },
                    min: 0,
                    labels: {

                        formatter: function() {
                            return yourLabels[this.value];
                        }
                    }
                },
                tooltip: {
                    headerFormat: '<b>{series.name}</b><br>',
                    pointFormat: '{point.x:%e. %b}'
                },

                plotOptions: {
                    spline: {
                        marker: {
                            enabled: true
                        }
                    }
                },

                series: [{
                    name: 'Door Status',
                    // Define the data points. All series have a dummy year
                    // of 1970/71 in order to be compared on the same x axis. Note
                    // that in JavaScript, months start at 0 for January, 1 for February etc.
                    data: doorData.map(function(dataPoint){
                        var time = dataPoint.time;
                        return [Date.UTC(time.slice(0,4), time.slice(5,7), time.slice(8,10), time.slice(11,13), time.slice(14,16), time.slice(17,19), time.slice(20,23)), dataPoint.status];
                    }),/*[
                     [Date.UTC(1970, 9, 21), 0],
                     [Date.UTC(1970, 10, 4), 1],
                     [Date.UTC(1970, 10, 9), 1],
                     [Date.UTC(1970, 10, 27), 0],
                     [Date.UTC(1970, 11, 2), 0],
                     [Date.UTC(1970, 11, 26), 1],
                     [Date.UTC(1970, 11, 29), 1],
                     [Date.UTC(1971, 0, 11), 1],
                     [Date.UTC(1971, 0, 26), 0],
                     [Date.UTC(1971, 1, 3), 0],
                     [Date.UTC(1971, 1, 11), 0],
                     [Date.UTC(1971, 1, 25), 1],
                     [Date.UTC(1971, 2, 11), 1],
                     [Date.UTC(1971, 3, 11), 1],
                     [Date.UTC(1971, 4, 1), 0],
                     [Date.UTC(1971, 4, 5), 0],
                     [Date.UTC(1971, 4, 19), 0],
                     [Date.UTC(1971, 5, 3), 0]
                     ],
                     doorData.map(function(dataPoint){
                     var time = dataPoint.time;
                     return [Date.UTC(time.slice(0,4), time.slice(5,7), time.slice(8,10), time.slice(11,13), time.slice(14,16), time.slice(17,19), time.slice(20,23)), dataPoint.status];
                     }),*/
                    color: '#FFBB4B'
                }]
            });
        });
    }, 500);};
    doorChart();



    // Toothbrush Tracker
    $('#toothbrushGraph').highcharts({
        chart: {
            type: 'column'
        },
        title: {
            text: 'Brush Time!'
        },
        subtitle: {
            text: 'Nimble'
        },
        xAxis: {
            type: 'category',
            labels: {
                rotation: -45,
                style: {
                    fontSize: '13px',
                    fontFamily: 'Verdana, sans-serif'
                }
            }
        },
        yAxis: {
            min: 0,
            title: {
                text: 'Population (millions)'
            }
        },
        legend: {
            enabled: false
        },
        tooltip: {
            pointFormat: 'Brushtime: <b>{point.y:.1f} seconds</b>'
        },
        series: [{
            name: 'BrushTimes',
            data: [
                ['Monday 6:02am', 73.7],
                ['Monday 10:03pm', 56.1],
                ['Tuesday 7:14am', 84.2],
                ['Tuesday 8:15pm', 74.0],
                ['Wednesday 7:01am', 82.5],
            ],
            dataLabels: {
                enabled: true,
                rotation: -90,
                color: '#FFFFFF',
                align: 'right',
                format: '{point.y:.1f}', // one decimal
                y: 10, // 10 pixels down from the top
                style: {
                    fontSize: '13px',
                    fontFamily: 'Verdana, sans-serif'
                }
            }
        }]
    });

    // Medicine Nimblet
    var tempChart = function(){setTimeout(function(){
    $(function () {
      $('#medicineNimblet').highcharts({
        chart: {
            type: 'area'
        },
        title: {
            text: 'Medicine Temperature Alerts'
        },
        subtitle: {
            text: 'Nimble'
        },
        xAxis: {
            type: 'datetime',
            dateTimeLabelFormats: { // don't display the dummy year
                month: '%e. %b',
                year: '%b'
            },
            title: {
                text: 'Date'
            }
        },
        yAxis: {
            title: {
                text: ''
            }
        },
        tooltip: {
            pointFormat: 'Your medicine alerts: <b>{point.y:,.0f}</b>'
        },
        plotOptions: {
            area: {

                marker: {
                    enabled: false,
                    symbol: 'circle',
                    radius: 2,
                    states: {
                        hover: {
                            enabled: true
                        }
                    }
                }
            }
        },
        series: [{
            name: 'Medicine Alerts',
            data: tempData.map(function(dataPoint){
                var time = dataPoint.time;
                return [Date.UTC(time.slice(0,4), time.slice(5,7), time.slice(8,10), time.slice(11,13), time.slice(14,16), time.slice(17,19), time.slice(20,23)), dataPoint.temp];
            }),
            color: '#FF2323'
        }]
      });
    });
    }, 500);};
    tempChart();

    // Poop Nimblet
    $('#poopNimblet').highcharts({
        chart: {
            type: 'area'
        },
        title: {
            text: 'SmartFridge'
        },
        subtitle: {
            text: 'Nimble'
        },
        xAxis: {
            allowDecimals: false,
            labels: {
                formatter: function () {
                    return this.value; // clean, unformatted number for year
                }
            }
        },
        yAxis: {
            title: {
                text: ''
            }
        },
        tooltip: {
            pointFormat: 'Moisture: <b>{point.y:,.0f}</b>'
        },
        plotOptions: {
            area: {

                marker: {
                    enabled: false,
                    symbol: 'circle',
                    radius: 2,
                    states: {
                        hover: {
                            enabled: true
                        }
                    }
                }
            }
        },
        series: [{
            name: 'Fridge is functioning',
            data: [0,0,1,1,0,0,0,1,1,0,0,1,1,1,0,0,1,1,0,0,0,0,1,1],
            color: '#9C7328'
        }]
    });



    // Button Event Handlers
    $("#doorBtn").click(function(){
        $("#med-bad").hide();
        $.ajax({
            url: {% url "appChange" %},
            data: {"app": "door",},
            dataType: "json",
            success: function(response){
                current = "door";
                currentID = response;

                // use response.body to get the data
                // use the data to populate the toothbrush function
            },
            error: function(xhr){
                current = "door";
            }
        });
      console.log("Run Door");

      // Disable active panel and enable this panel
      $(".active").addClass('inactive');
      $(".active").removeClass('active');
      $("#doorPanel").addClass('active');
    });

    $("#toothbrushBtn").click(function(){
      console.log("Run ToothBrush");

      // Disable active panel and enable this panel
      $(".active").addClass('inactive');
      $(".active").removeClass('active');
      $("#toothbrushPanel").addClass('active');
    });

    $("#medicineBtn").click(function(){
        $.ajax({
            url: {% url "appChange" %},
            data: {"app": "temp",},
            dataType: "json",
            success: function(response){
                current = "temp";
                currentID = response;
                // use response.body to get the data
                // use the data to populate the toothbrush function
            },
            error: function(xhr){

                current = "temp";
            }
        });
      console.log("Run Medicine");

      // Disable active panel and enable this panel
      $(".active").addClass('inactive');
      $(".active").removeClass('active');
      $("#medicinePanel").addClass('active');
    });

    $("#poopBtn").click(function(){
      console.log("Run Poop`");

      // Disable active panel and enable this panel
      $(".active").addClass('inactive');
      $(".active").removeClass('active');
      $("#poopPanel").addClass('active');
    });

    function disablePanel(panel){

    }

    //Panel mouse over event handler
    $(".panel").mouseover(function(){
        if ($(this).hasClass('inactive')) {
            $(this).removeClass('inactive');
        }
    });
    $(".panel").mouseleave(function(){
        if (!$(this).hasClass('active')) {
            $(this).addClass('inactive');
        }
    });

  var update = function(){
      if (currentID=="None"){
      } else {
          console.log("ok");
      $.ajax({
        url: {% url "getData" %},
        data: {"id": currentID,},
        dataType: "json",
        success: function(response){
            if (current=="temp") {
                tempData = response;
                $("#door_open").hide();
                $("#door_closed").show();
                if (response[response.length-1].alert){
                    $("#med-bad").show();
                    $("#med-good").hide();
                } else {
                    $("#med-bad").hide();
                    $("#med-good").show();
                }
                tempChart();
            } else if (current=="door"){
                doorData = response;
                $("#med-bad").hide();
                $("#med-good").show();
                if (response[response.length-1].status){
                    $("#door_open").show();
                    $("#door_closed").hide();
                } else {
                    $("#door_open").hide();
                    $("#door_closed").show();
                }
                doorChart();
            }
            // use response.body to get the data
            // use the data to populate the toothbrush function
        },
          error: function(response){
          }
        });
      }
  };
  setInterval(update, 2000);

  </script>
{% endblock end_js %}