{% extends "base.html" %}
{% block title %}Get Nimble{% endblock title %}
{% load staticfiles %}
{% block content %}
<link href="{% static "carousel.css" %}" rel="stylesheet">
<div id="myCarousel" class="carousel slide" data-ride="carousel">
      <!-- Indicators -->
      <ol class="carousel-indicators">
        <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
        <li data-target="#myCarousel" data-slide-to="1"></li>
        <li data-target="#myCarousel" data-slide-to="2"></li>
        <li data-target="#myCarousel" data-slide-to="3"></li>
      </ol>
      <div class="carousel-inner" role="listbox">
        <div class="item active">
          <img class="first-slide" style="object-fit: cover;" src="{% static "img/Banner_Brush.png" %}" alt="First slide">
          <div class="container">
            <div class="carousel-caption" style="text-shadow:0 0 64px black">
              <h1>Solving everyday problems</h1>
              <p>A repurposeable Internet-connected sensor module.</p>
            </div>
          </div>
        </div>
        <div class="item">
          <img class="second-slide" style="object-fit: cover;" src="{% static "img/Banner_Bike.png" %}" alt="Second slide">
          <div class="container">
            <div class="carousel-caption" style="text-shadow:0 0 64px black">
              <h1>IoT swiss-army knife</h1>
              <p>Adapts to your needs. On-demand.</p>
            </div>
          </div>
        </div>
        <div class="item">
          <img class="third-slide" style="object-fit: cover;" src="{% static "img/Banner_Garage.png" %}" alt="Third slide">
          <div class="container">
            <div class="carousel-caption" style="text-shadow:0 0 64px black">
              <h1>Community-developed apps</h1>
              <p>Nimble SDK makes it easy for app developers to create solutions.</p>
            </div>
          </div>
        </div>
        <div class="item">
          <img class="fourth-slide" style="object-fit: cover;" src="{% static "img/Banner_Smokedetect.png" %}" alt="Third slide">
          <div class="container">
            <div class="carousel-caption" style="text-shadow:0 0 64px black">
              <h1>1 nimble.</h1><h1>10 sensors.</h1><h1>1000s of personas.</h1>
            </div>
          </div>
        </div>
      </div>
      <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
        <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
      </a>
      <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
        <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
      </a>
    </div>
    <div class="container marketing">




      <!-- START THE FEATURETTES -->


      <div class="row featurette">
        <div class="col-md-7 col-md-push-5" style="padding-left:30px">
          <div>
            <h2 id="motion" class="custom-featurette-heading1" style="color:#E87171">Motion</h2><h2 id="motionBar" class="custom-featurette-bar" style="border-color:#E87171"></h2><h2 id="motionText" class="custom-featurette-heading2">Accelerometer<br>Gyroscope<br>Magnetometer</h2>
          </div>
          <div>
            <h2 id="environmental" class="custom-featurette-heading1" style="color:#50AACD">Environmental</h2><h2 id="environmentalBar" class="custom-featurette-bar" style="border-color:#50AACD"></h2><h2 id="environmentalText" class="custom-featurette-heading2">Surface Temperature<br>Ambient Temperature<br>Humidity<br>Moisture</h2>
          </div>
          <div>
            <h2 id="brightness" class="custom-featurette-heading1" style="color:#FFA060">Brightness</h2><h2 id="brightnessBar" class="custom-featurette-bar" style="border-color:#FFA060"></h2><h2 id="brightnessText" class="custom-featurette-heading2">Ambient Light</h2>
          </div>
          <div>
            <h2 id="sound" class="custom-featurette-heading1" style="color:#66C169">Sound</h2><h2 id="soundBar" class="custom-featurette-bar" style="border-color:#66C169"></h2><h2 id="soundText" class="custom-featurette-heading2">Microphone</h2>
          </div>
        </div>
        <div class="col-md-5 col-md-pull-7">
          <img class="featurette-image img-responsive center-block" style="-webkit-box-reflect: below 0px -webkit-gradient(linear, left top, left bottom, from(transparent), color-stop(70%, transparent) , to(rgba(250, 250, 250, 0.1)));" src="{% static "img/Nimble_Tilt.png" %}" alt="Generic placeholder image">
        </div>
      </div>

      <br><br><br>

      <hr class="featurette-divider">

      <div class="row featurette">
        <div class="col-md-7">
          <h2 class="featurette-heading">Give your sensor <span class="text-muted">a new persona.</span></h2>
          <p class="lead" style="font-weight: 300">As-needed. On-demand. Re-purposeable connected hardware. Hundreds of apps at your disposal.</p>
        </div>
        <div class="col-md-5">
          <img class="featurette-image img-responsive center-block" src="{% static "img/500px_APPS.png" %}" alt="Generic placeholder image">
        </div>
      </div>

      <hr class="featurette-divider">

      <div class="row featurette">
        <div class="col-md-7 col-md-push-5">
          <h2 class="featurette-heading">API-driven hardware  <span class="text-muted">for the app developer.</span></h2>
          <p class="lead" style="font-weight: 300">Get JSON-encoded, raw sensor data to solve new problems &amp; sell through the Nimble app store.</p>
        </div>
        <div class="col-md-5 col-md-pull-7">
          <img class="featurette-image img-responsive center-block" src="{% static "img/500px_API_DRIVEN.png" %}" alt="Generic placeholder image">
        </div>
      </div>

      <hr class="featurette-divider">

      <div class="row featurette">
        <div class="col-md-12" style="text-align:center">
          <h2 class="featurette-heading">For more information<span class="text-muted"></span></h2>
          <p class="lead" style="font-weight: 300">getnimble@gmail.com</p>
        </div>
      </div>

{% endblock content %}
{% block end_js %}
<script type="text/javascript">
    fadeThisIn('motion');

    $(".custom-featurette-heading1").mouseover(function(){
      switch($(this).html()){
        case "Motion":
          fadeThisIn('motion');
          fadeThisOut('environmental');
          fadeThisOut('brightness');
          fadeThisOut('sound');
          break;
        case "Environmental":
          fadeThisOut('motion');
          fadeThisIn('environmental');
          fadeThisOut('brightness');
          fadeThisOut('sound');
          break;
        case "Brightness":
          fadeThisOut('motion');
          fadeThisOut('environmental');
          fadeThisIn('brightness');
          fadeThisOut('sound');
          break;
        case "Sound":
          fadeThisOut('motion');
          fadeThisOut('environmental');
          fadeThisOut('brightness');
          fadeThisIn('sound');
          break;
      }
    });

    function fadeThisIn(object){
      $('#'+object+'Text').stop().fadeIn(500).css("display","inline-block");
      $('#'+object+'Bar').stop().fadeIn(500).css({"display":"inline-block","height":$('#'+object+'Text').height()});
      $('#'+object).stop().animate({
          opacity: 0.25
      }, 500);
    };

    function fadeThisOut(object){
      $('#'+object+'Text').stop().fadeOut(500).css("display","none");
      $('#'+object+'Bar').stop().fadeOut(500).css("display","none");
      $('#'+object).stop().animate({
          opacity: 1
      }, 500);
    }
    // $(".custom-featurette-heading1").mouseleave(function(){
    //   switch($(this).html()){
    //     case "Motion":
    //       $('#motionText').stop().fadeOut(500).css("display","inline-block");
    //       $('#motionBar').stop().fadeOut(500).css("display","inline-block");
    //       $(this).stop().animate({
    //           opacity: 1
    //       }, 500);
    //       break;
    //     case "Environmental":
    //       $('#environmentalText').stop().fadeOut(500).css("display","inline-block");
    //       $('#environmentalBar').stop().fadeOut(500).css("display","inline-block");
    //       $(this).stop().animate({
    //           opacity: 1
    //       }, 500);
    //       break;
    //     case "Brightness":
    //       $('#brightnessText').stop().fadeOut(500).css("display","inline-block");
    //       $('#brightnessBar').stop().fadeOut(500).css("display","inline-block");
    //       $(this).stop().animate({
    //           opacity: 1
    //       }, 500);
    //       break;
    //     case "Sound":
    //       $('#soundText').stop().fadeOut(500).css("display","inline-block");
    //       $('#soundBar').stop().fadeOut(500).css("display","inline-block");
    //       $(this).stop().animate({
    //           opacity: 1
    //       }, 500);
    //       break;
    //   }
    // });

  </script>
{% endblock end_js %}