.starter-template {
  padding: 40px 15px;
  text-align: center;
}
h1, h2, h3, h4, h5, h6 {
   font-family: 'Raleway', sans-serif;
}
p, div {
   color: white;
   font-family: 'Raleway', sans-serif;
}

body {
  height: 100%;
  background-color: #333;
}


/* CUSTOMIZE THE NAVBAR
-------------------------------------------------- */

/* Special class on .container surrounding .navbar, used for positioning it into place. */
.navbar-wrapper {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  z-index: 20;
}

/* Flip around the padding for proper display in narrow viewports */
.navbar-wrapper > .container {
  padding-right: 0;
  padding-left: 0;
}
.navbar-wrapper .navbar {
  padding-right: 15px;
  padding-left: 15px;
}
.navbar-wrapper .navbar .container {
  width: auto;
}

.navbar-inverse {
  background-color: rgba(0, 0, 0, 0);
  border-color: rgba(0, 0, 0, 0);
}

.navbar-inverse .navbar-nav > .active > a,
.navbar-inverse .navbar-nav > .active > a:hover,
.navbar-inverse .navbar-nav > .active > a:focus {
  color: #fff;
  background-color: rgba(0,0,0,0);
}


/* Extra markup and styles for table-esque vertical and horizontal centering */
.site-wrapper {
  -webkit-box-shadow: inset 0 0 100px rgba(0,0,0,.5);
          box-shadow: inset 0 0 100px rgba(0,0,0,.5);
}

.active {
    opacity: 1;
    -webkit-filter:grayscale(0)
}

.inactive {
    opacity: 0.5;
    -webkit-filter:grayscale(1)
}